@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  margin: 0 auto;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: block;
  overflow: auto;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}